name: MLOps OPPE-2 CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Decode GCP service account key
      run: |
        echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: pacific-decoder-473005-h5
        service_account_key: key.json
        export_default_credentials: true

    - name: Configure Docker authentication
      run: |
        gcloud auth configure-docker asia-south1-docker.pkg.dev --quiet

    - name: Build Docker image
      run: |
        docker build -t asia-south1-docker.pkg.dev/pacific-decoder-473005-h5/heart-disease-repo/heart-disease-api:latest .

    - name: Push Docker image
      run: |
        docker push asia-south1-docker.pkg.dev/pacific-decoder-473005-h5/heart-disease-repo/heart-disease-api:latest

    - name: Deploy to GKE
      run: |
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml
        kubectl apply -f k8s/hpa.yaml
